.last-minute-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 0;

    .last-minute-text{
        padding: 19px 0 26px;
        text-align: center;
        p{
            color: #414141;
            font-size: 13px;
            line-height: 24px;
            letter-spacing: 0.65px;
            margin: 0;
        }
    }
}

.last-minute-box-xl{
    p{
        margin: 0;
        color: #414141;
        font-size: 16px;
        font-weight: normal;
    }

    margin-bottom: 32px !important;
}

.lmd-trigger span{
    font-weight: normal !important;
    margin-left: 0 !important;
}
